{% extends 'base.html.twig' %}

{% block body %}
    <!-- PARALAX -->
    <!-- BLOC BLANC -->
    <div class="paralax">

        <div class="blanc">


            <img id="logo-home" src="{{ asset('assets/img/logo-long.png') }}" alt="logo_KOD"
                 data-zoom-image="../KOD/assets/img/logo-long">
            <span class="darrow"></span>
        </div>
        <div class="header" id="myHeader">
            <ul>
                <li>
                    <a href="{{ path('home') }}" id="accueil">
                        <img class="img-fluid" src="{{ asset('assets/img/kodnoir.png') }}">
                    </a>
                </li>
                <li>
                    <a href="{{ path('concept') }}">LE CONCEPT</a>
                </li>
                <li>
                    <a href="#packs">PACKS</a>
                </li>
                <li>
                    <a href="#" id="picto">
                    <img class="img-fluid" src="{{ asset('assets/img/picto-compte.png') }}">
                    </a>
                </li>
            </ul>
        </div>


        <!-- BLOC BLANC POLI -->
        <div class="blanc-poli">
            <div class="citation">
                <h1>Rien ne développe l'intelligence comme les voyages </h1>
                <br><br>
                <h3>- Victor Hugo -</h3>
            </div>
        </div>

        <!-- BLOC PACKS PAYS -->
        <div class="blanc-packs">
            <div class="titre-packs" id="packs">
                <h1>Envie d'évasion ...</h1>
            </div>

            <div class="soustitre-packs">
                <h2>Il y a forcément une destination pour vous, choisissez votre pack</h2>
            </div>

            <ul class="flex-container">
                <li class="flex-item">
                    <a href="{{ path('finlande') }}">
                    <img src="{{ asset('assets/img/finlande.jpg') }}" class="img-finlande" class="img-fluid" alt="Finlande">
                    <h3>FINLANDE</h3>
                    <p> La Finlande, c'est le pays des lacs, un véritable dédale de cours d'eau s'écoulant paisiblement au coeur d'une nature grandiose. Il semble y avoir plus d'eau que de terre.
                    </p>
                    </a>
                </li>

                <li class="flex-item">
                    <a href="{{ path('suede') }}">
                    <img src="{{ asset('assets/img/suede.jpg') }}" class="img-suede" class="img-fluid" alt="Suède">
                    <h3>SUEDE</h3>
                    <p> Entre forêts et lacs paisibles, petits villages de pêcheurs et majestueux châteaux sans oublier de charmants chalets rouges sur pilotis, la Suède a tous les atouts pour vous séduire.
                    </p>
                    </a>
                </li>


                <li class="flex-item">
                    <a href="{{ path('norvege') }}">
                    <img src="{{ asset('assets/img/norvege.jpg') }}" class="img-norvege" class="img-fluid" alt="Norvège">
                    <h3>NORVEGE</h3>
                    <p> Des fjords d'un bleu profond, des petites criques aux maisons colorées, des villes charmantes aux émouvantes églises en bois…. La Terre des vikings a mille trésors à offrir.
                    </p>
                    </a>
                </li>

                <li class="flex-item">
                    <a href="{{ path('danemark') }}">
                    <img src="{{ asset('assets/img/lukas-5Gqx11weVJI-unsplash.jpg') }}" class="img-danemark" class="img-fluid" alt="Danemark">
                    <h3> DANEMARK</h3>
                    <p> Le Danemark, c'est la culture viking mêlée à la féérie des contes d'Andersen ! Des villes modernes et attrayantes à arpenter en vélo et des châteaux d'une magnificence absolue !
                    </p>
                    </a>
                </li>
            </ul>
        </div>


{% endblock %}