{% extends 'base.html.twig' %}

{% block body %}
    <!-- PARALAX -->
    <!-- BLOC BLANC -->
    <div class="paralax">

        <div class="blanc">


            <img id="logo-home" src="{{ asset('assets/img/logo-long.png') }}" alt="logo_KOD"
                 data-zoom-image="../KOD/assets/img/logo-long">
            <span class="darrow"></span>
        </div>
        <div class="header" id="myHeader">
            <ul>
                <li>
                    <a href="{{ path('home') }}" id="accueil">
                        <img class="img-fluid" src="{{ asset('assets/img/kodnoir.png') }}">
                    </a>
                </li>
                <li>
                    <a href="{{ path('concept') }}">LE CONCEPT</a>
                </li>
                <li>
                    <a href="{{ path('home') }}" id="packs">PACKS</a>
                </li>
            </ul>
        </div>


        <!-- BLOC BLANC POLI -->
        <div class="blanc-poli">
            <div class="citation">
                <h1>Rien ne développe l'intelligence comme les voyages </h1>
                <br><br>
                <h3>- Victor Hugo -</h3>
            </div>
        </div>

        <!-- BLOC PACKS PAYS -->
        <div class="blanc-packs">
            <div class="titre-packs" id="packs">
                <h1>Envie d'évasion ...</h1>
            </div>

            <div class="soustitre-packs">
                <h2>Il y a forcément une destination pour vous, choisissez votre pack</h2>
            </div>


            <ul class="flex-container">

                {% for item in pays %}

                    <li class="flex-item">
                        <a href="{{ path(item.path) }}">
                            <img src="{{ asset('assets/img') }}/{{ item.photo }}" class="img-pays-home" class="img-fluid" alt="{{ item.titre }}">
                            <h3>{{ item.nom }}</h3>
                            <p>{{ item.description }}</p>
                        </a>
                    </li>

                {% endfor %}
            </ul>
        </div>


{% endblock %}